<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Bookings</title>
</head>
<body>
<form method="post" th:object="${booking}">
    <label>Last Name</label>
    <input required th:field="*{lastName}" type="text"/>
    <label>First Name</label>
    <input required th:field="*{firstName}" type="text"/>
    <label>Number of guests</label>
    <input min="1" th:field="*{numGuests}" type="number"/>
    <label>From</label>
    <input required th:field="*{fromDate}" type="date"/>
    <label>Number of days</label>
    <input min="1" th:field="*{numDays}" type="number"/>
    <input type="submit" value="Add"/>
    <p th:if="${noApartmentAvailable == true}">
        No apartment available for the selection criteria
    </p>
</form>
<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Last Name</th>
        <th>Fist Name</th>
        <th>From</th>
        <th>To</th>
        <th>Number of days</th>
        <th>Number of guests</th>
        <th>Apartment</th>
        <th>Apartment capacity</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="b: ${bookings}">
        <td th:text="${b.id}"></td>
        <td th:text="${b.lastName}"></td>
        <td th:text="${b.firstName}"></td>
        <td th:text="${b.fromDate}"></td>
        <td th:text="${b.toDate}"></td>
        <td th:text="${b.numDays}"></td>
        <td th:text="${b.numGuests}"></td>
        <td th:text="${b.apartment.name}"></td>
        <td th:text="${b.apartment.capacity}"></td>
        <td>
            <form th:action="@{/bookings/delete}" th:method="delete">
                <input name="deleteId" th:value="${b.id}" type="hidden"/>
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>